@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Manage your account</h1>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">

            @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
            {
                <div class="alert alert-success">
                    @TempData[WebConstants.TempDataSuccessMessageKey]
                </div>
            }

            @if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
            {
                <div class="alert alert-danger">
                    @TempData[WebConstants.TempDataErrorMessageKey]
                </div>
            }

            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
