@{
    ViewData["Title"] = "Amphibians";
}

<h1>@ViewData["Title"]</h1>

<p>
    <h3>
        The word amphibian means two-lives. Amphibians spend their lives in the water and on land.
    </h3>
    <h4>
        All amphibians begin their life in water with gills and tails. As they grow, they develop lungs and legs for their life on land.
        <br /> Amphibians are cold-blooded, which means that
        <br /> they are the same temperature as the air or water around them.
        <br /> There are more than 4,000 different kinds of amphibians. Members of this animal class are
        <br /> frogs, toads, salamanders, newts, and caecilians or blindworms.
    </h4>
    <br />
</p>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://assets.answersingenesis.org/img/cms/content/contentnode/image/frog-spit.jpg" alt="Loading amphibian" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://animals.sandiegozoo.org/sites/default/files/2016-10/animals_hero_amphibeans.jpg" alt="Loading amphibian" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://media.wired.com/photos/59273130af95806129f51e1b/16:9/w_1920,c_limit/353A-Ranitomeya-reticulata_Luke-Verburgt.jpg" alt="Loading amphibian" />
    </div>
</div>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://www.massaudubon.org/var/ezdemo_site/storage/images/media/departments/lww/reptiles-amphibians/frog-c-michael-onyon/168882-1-eng-US/frog-c-michael-onyon.jpg" alt="Loading amphibian" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="http://ewcl.s3.amazonaws.com/wp-content/uploads/2017/09/class7-amphibians.jpg" alt="Loading amphibian" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://news.psu.edu/sites/default/files/styles/threshold-992/public/Header%2C%20spotted%20salamander%2C%20small%2C%20Brad%20Glorioso%2C%20USGS.jpg?itok=v_rrG-7k" alt="Loading amphibian" />
    </div>
</div>