@{
    ViewData["Title"] = "Arthropods";
}

<h1>@ViewData["Title"]</h1>

<p>
    <h3>
        What is an arthropod?
        Any animals that have more than four, jointed legs are arthropods.  Insects, spiders and crustaceans all belong to this class of animals.
    </h3>
    <h4>
        <br /> You live with them almost everyday, even in the very cold winter months!
        <br /> They are everywhere and are the largest animal phylum - about 85% of all known animals in the world
        <br /> are part of this class. There are far more species of arthropods than there are
        <br /> species in all the other phylums(phyla) combined. They are spiders, insects, centipedes, mites, ticks, lobsters, crabs, shrimp, crayfish, krill, barnacles, scorpions
        and many, many others. The easiest way to tell an arthropod from any other animal is to see if they have:
        <br />
        <br /> 1) A segmented body.
        <br />
        <br /> This means that they will have a body made up of more than one part.  Spiders have two segments and flies have three segments.
        <br />
        <br /> 2)	Many jointed legs or limbs.
        <br />
        <br /> Spiders have 8 legs, millipedes can have...  Hundreds!
        <br />
        <br /> 3)  An exoskeleton.
        <br />
        <br /> This is an external skeleton. Like armor, it protects the arthropods body. When arthropods are born the exoskeleton is soft but hardens quickly and it can be shed as the creature grows. Arthropods are invertebrates; which means that they do not have a backbone.
        <br />
        <br /> 4)  Cold blooded
        <br />
        <br /> Arthropods are cold blooded - which means, their body temperature depends on the temperature of the environment surrounding them.
        <br />
        <br /> Arthropods are some of the most interesting animals in the world!
        <br /> They fly, they creep, and they crawl. They live on land, in ponds and in the ocean. From ants to bumblebees, crabs to crayfish, spiders to centipedes - which are your favorites!?
    </h4>
    <br />
</p>

<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="http://nhptv.org/wild/images/grasshopper.jpg" alt="Loading arthropod" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://cdn.lolwot.com/wp-content/uploads/2016/01/10-of-the-weirdest-and-creepiest-arthropods-on-the-planet-1.jpg" alt="Loading arthropod" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="http://www.nhptv.org/wild/images/japanesespidercrab.jpg" alt="Loading arthropod" />
    </div>
</div>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://www.yourdictionary.com/image/articles/15513.Arthropod.jpg" alt="Loading arthropod" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://msb.unm.edu/divisions/arthropods/_img/pinacate-beetle.jpg" alt="Loading arthropod" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="http://4.bp.blogspot.com/-vruII9rxNpw/Vgvn8wqx9II/AAAAAAAAFdA/E7PFpLyDEOM/s1600/TSMoth.jpg" alt="Loading arthropod" />
    </div>
</div>