@{
    ViewData["Title"] = "Birds";
}

<h1>@ViewData["Title"]</h1>

<p>
    <h2>
        Do you know what makes a bird different from other animals?
    </h2>
    <h4>
        <br /> Is it the pretty colors?
        <br /> No - other animals, like fish and insects, come in all sorts of beautiful colors too.
        <br />
        <br /> Is it the bill or beak?
        <br /> No - other animals, like the duck billed platypus (a mammal), have bills too.
        <br />
        <br /> Is it the eggs?
        <br /> No - other animals, like fish, amphibians, reptiles, insects and even some mammals, hatch from eggs as well.
        <br />
        <br /> Is it the wings?
        <br /> No - other animals, like insects and some mammals, have wings.
        <br />
    </h4>
    <h2>Then what is it!?</h2>
    <h3>
        Feathers!
    </h3>
    <h4>
        All birds have feathers and birds are the only animals that do!
        Feathers do many jobs for birds.
        <br /> Soft down keeps them warm, wing feathers allow flight and tail feathers are used for steering.
        <br /> The color of the feathers can be used to hide the bird or to help the bird find a boyfriend or a girlfriend!
        <br /> All birds have feathers and birds are the only animals that do. The feathers on a bird’s wings and tail overlap.
        <br /> Because they overlap, the feathers catch and hold the air.  This helps the bird to fly, steer itself and land.
    </h4>
    <br />
</p>
<br />
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://thumbs-prod.si-cdn.com/c3phl1TZgQ92bLQugItmtovLZhs=/fit-in/1600x0/https://public-media.si-cdn.com/filer/54/10/5410da58-2295-4e3a-a847-fecd41cdcdd9/scarlet_tanager.jpg" alt="Loading bird" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2018/tropicalbird.jpg" alt="Loading bird" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://www.coffscoast.com.au/wp-content/uploads/2017/07/bellingen-birds.jpg" alt="Loading bird" />
    </div>
</div>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://cdn.audubon.org/cdn/farfuture/87-xE-_wwdnLv3l-jovUT1As8spveWAZlngLSVvakBw/mtime:1527627062/sites/default/files/styles/hero_image/public/web_groombaltimoreoriole-and-a-male-red-breasted-grosbeak.jpg?itok=V_KwWuhD" alt="Loading bird" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://upload.wikimedia.org/wikipedia/commons/3/32/House_sparrow04.jpg" alt="Loading bird" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://insider.si.edu/wp-content/uploads/2017/04/SCTA-copy.jpg" alt="Loading bird" />
    </div>
</div>