@{
    ViewData["Title"] = "Fish";
}

<h1>Fish</h1>

<p>
    <h3>
        What distinguishes fish from the other animal classes?
    </h3>
    <h4>
        There are blind fish, fish with noses like elphants, fish that shoot down passing bugs with a stream of water and even fish that crawl onto land and hop about!
        Fish are a class of aquatic vertebrates.  The combination of gills, fins and the fact that they live only in the water make fish different from all other animals.
        Fish spend all of their lives in the water and are cold-blooded with the exception of Tuna family and the Mackerel shark family.
        Scientists believe that there are more than 24,000 different species of fish in the world.
        <br /> They range in size from the largest, Whale shark at 16 m (51 ft) long, to the smallest the 8 mm (1/4 in.) Stout Infantfish.
        <br /> Most fish have a skeleton made of bone but some, like sharks, have a skeleton made of cartilage.
    </h4>
    <br />
</p>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://images.newscientist.com/wp-content/uploads/2019/01/17170633/gettyimages-889554752-800x533.jpg" alt="Loading fish" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Clown_fish_in_the_Andaman_Coral_Reef.jpg" alt="Loading fish" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://cdn1.medicalnewstoday.com/content/images/articles/323/323764/tetra-fish.jpg" alt="Loading fish" />
    </div>
</div>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://www.nationalgeographic.com/content/dam/animals/2018/10/betta-fish/01-betta-fish-nationalgeographic_2445745.jpg" alt="Loading fish" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://cdn.japantimes.2xx.jp/wp-content/uploads/2018/11/p9-hooper-naturalselections-a-20181124-870x583.jpg" alt="Loading fish" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://www.petbarn.com.au/petspot/app/uploads/2015/10/new-fish-to-tank-blog.jpg" alt="Loading fish" />
    </div>
</div>