@{
    ViewData["Title"] = "Mammals";
}

<h1>@ViewData["Title"]</h1>

<p>
    <h4>
        People are mammals. So are dogs, cats, horses, duckbill platypuses, kangaroos, dolphins and whales.
        <br />
        What do all these animals have in common, you ask?
        The answer is - MILK! If an animal drinks milk when it is a baby and
        <br /> has hair on its body, it belongs to the mammal class. Mammals are one of the 6 main classes of animals.
        <br />
        Animal classes are groups of animals that scientists consider to be alike in some important ways.
        <br /> Mammals are the animal class that people belong to. There are only about 4 000 kinds of mammals. This sounds like a lot, but when you consider there are 21 000 kinds of fish and a whopping 800 000 kinds of insects  you’ll realize mammals are a pretty small class!
        <br /> Here are some of the ways that mammals are alike!
        Mammals are everywhere. Polar bears live in very cold areas.
        <br /> Camels live in hot areas. Moles live under the ground. Bats live in caves and fly in the air. Dolphins live in the oceans.
        <br /> Fur and fat help protect mammals who live in the cold.
        Mammals sweat or pant to release extra heat if they live somewhere toasty.
    </h4>
</p>
<br />
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/2017/6-newstudymaps.jpg" alt="Loading mammal" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://cdn.the-scientist.com/assets/articleNo/64317/iImg/26769/4598fa58-1fcc-43dc-8217-7d9feea31d3e-squirrel-640x360.jpg" alt="Loading mammal" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="http://southafrica.co.za/images/zebra-south-africa-mammals-786x416.jpg" alt="Loading mammal" />
    </div>
</div>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/500506-iStock-179224411.jpg?itok=w2vn2Zzi&resize=1100x1100" alt="Loading mammal" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/19116-iStock-539823828.jpg?itok=xIwlIAhI&resize=1100x1100" alt="Loading mammal" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://www.nps.gov/shen/learn/nature/images/20170520_BlackBear__MG_9131_dm_2.jpg?maxwidth=1200&maxheight=1200&autorotate=false" alt="Loading mammal" />
    </div>
</div>