@{
    ViewData["Title"] = "Reptiles";
}

<h1>@ViewData["Title"]</h1>

<p>
    <h2>So what makes a reptile a reptile?</h2>
    <h4>
        The two biggest clues are:
        <br />
        <br /> 1) they are cold-blooded, and
        <br /> 2) they are covered in scales.
        <br />
        <br /> Being cold-blooded means that their bodies react to the temperature of their surroundings. When they get too warm, they can go into the water
        <br /> or shade to cool off.
        When they get too cold they can hang out in the sun to warm themselves up.
        <br /> Some creatures that belong to the reptile group of animals are snakes, alligators, crocodiles, tortoises, lizards, etc.
        Scales protect their bodies.
        <br /> Scales can be hard or soft, large or small.
        <br /> Reptiles are born on land and are born with strong instincts, so they are on their own at birth.
        <br /> Just think, no parents to nag them about cleaning their rooms!
    </h4>
</p>
<br />
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1440,f_auto/DCTM_Penguin_UK_DK_AL706662_g5ofqh.png" alt="Loading reptile" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://62e528761d0685343e1c-f3d1b99a743ffa4142d9d7f1978d9686.ssl.cf2.rackcdn.com/files/58862/area14mp/bs9g96nh-1410503553.jpg" alt="Loading reptile" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://lh3.googleusercontent.com/Zr46gsuva__-CbdGvc-aNUrwWgP4XrGAZgflCzG9qJ4xUvXzYqytNFiPnZPCTLOapRiDh1NLUSRP0OYfDx8v57dO_SNX1j3tYvCqcH4RyVKFPLBeOjFF_ozEneFNCn5wMoOctdz2rEJ8LedKxdu7dlsLDNHGOPxbzH8ARQU2f6vqbBhGdTd0PaeY3g-0sPqLrInSsy3QA6a-RJzwUV1-8Wzdqr7ljWxMQm2jXZxE5CtRg0Pw_aQbr6bOIHEG9Gu2oU4JrpxtzeIn1QUZdsa1_MxUcdxCXW4z3ufskAHAlYiatWN21RZfCvuI1edV5fPb74WBexFa5PEpwFHbrdWBbT372Ok3Xu5kp9PWKnuolx9wz1UVqfVVsft90ib6tyTFenCLD11FGca6Hg2wBTt09fOMZLGGvoXz3CADaoKanMw8P7RItn3PtHP4ivw7wkx3if4OUoTs0Lje6hcpXi4oD6vFseGJ8ialtnmfHHrywKxek6kofhNY7oPKEm7BYQDgN8HgNF-X_h7f8xFu00gqW4AH7WHfs7lQmthMJslxBKFYT-jjiyEOFrCzs-suroWPb1GKoQUYUJ-MIcWofyR89GLaA_p9xgjEOodsplNwzQM=w1383-h921-no" alt="Loading reptile" />
    </div>
</div>
<div class="custom-row">
    <div class="column">
        <img class="img-responsive img-animal" src="https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Reptiles/A-G/chameleon-sleepy.ngsversion.1475241171293.adapt.1900.1.jpg" alt="Loading reptile" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="https://allyouneedisbiology.files.wordpress.com/2017/02/5950321085_f2a85ab7da_o-min.jpg?w=1038&h=576&crop=1" alt="Loading reptile" />
    </div>
    <div class="column">
        <img class="img-responsive img-animal" src="http://www.sensorpush.com/system/images/images/000/000/018/original/reptiles-main.jpg?1518804727" alt="Loading reptile" />
    </div>
</div>