@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="margin-top: -3%;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/img/carousel1.jpg" alt="">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="~/img/carousel2.jpg" alt="">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="~/img/carousel3.jpg" alt="">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<h3 class="text-center">Wild Nature Charity &amp; Urgent Program</h3>
<div class="container thumbs">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/mammals.jpg" alt="" class="img-circle">
            <div class="caption">
                <h3 class="text-center">Mammals</h3>
                <p>
                    People are mammals. So are dogs, cats, horses, duckbill platypuses, kangaroos, dolphins and whales. What do all these animals have in common, you ask?
                </p>
                <div class="btn-toolbar text-center">
                    <a asp-area="" asp-controller="Animals" asp-action="Mammals" role="button" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/pic1.jpg" alt="" class="img-circle">
            <div class="caption">
                <h3 class="text-center">Reptiles</h3>
                <p>
                    Reptiles are a class of animal with scaly skin.  They are cold blooded and are born on land.
                    Snakes, lizards, crocodiles, alligators and turtles all belong to the reptile class.
                </p>
                <div class="btn-toolbar text-center">
                    <a asp-area="" asp-controller="Animals" asp-action="Reptiles" role="button" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/pic2.jpg" alt="" class="img-circle">
            <div class="caption">
                <h3 class="text-center">Birds</h3>
                <p>
                    Birds are animals that have feathers and that are born out of hard-shelled eggs. Some people think that what makes an animal a bird is its wings. Bats have wings. Flies have wings. Bats and flies are not birds. So what makes an animal a bird?
                </p>
                <div class="btn-toolbar text-center">
                    <a asp-area="" asp-controller="Animals" asp-action="Birds" role="button" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/fish.jpg" alt="" class="img-circle">
            <div class="caption">
                <h3 class="text-center">Fish</h3>
                <p>Fish are vertebrates that live in water and have gills, scales and fins on their body.  There are a lot of different fish and many of them look very odd indeed.  </p>
                <div class="btn-toolbar text-center">
                    <a asp-area="" asp-controller="Animals" asp-action="Fish" role="button" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/amphibians.jpg" alt="" class="img-circle">
            <div class="caption">
                <h3 class="text-center">Amphibians</h3>
                <p>Amphibians are born in the water. When they are born, they breath with gills like a fish. But when they grow up, they develop lungs and can live on land.</p>
                <div class="btn-toolbar text-center">
                    <a asp-area="" asp-controller="Animals" asp-action="Amphibians" role="button" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/arthropods.jpg" alt="" class="img-circle">
            <div class="caption">
                <h3 class="text-center">Arthropods</h3>
                <p>
                    Arthropods is a huge phylum of animals - it includes eleven animal classes: Merostomata, Pycnogonida, Arachnida, Remipedia, Cephalocarida, Branchiopoda, Maxillopoda, Malacostraca, Chilopoda, Diplopoda, and Insecta.
                </p>
                <div class="btn-toolbar text-center">
                    <a asp-area="" asp-controller="Animals" asp-action="Arthropods" role="button" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3 class="text-center">Welcome to Zoo Planet</h3>
    <p>Welcome to Zoo Planet! This is the biggest zoo in the world. We have more than 100 000 animals here. It is located in Bulgaria and it is visited from more than 5 000 000 people. ENJOY YOUR VISIT! The Zoo is a wonderful place to explore, learn, and relax. Our few rules help ensure an enjoyable and safe experience. Zoo is not responsible for any loss or injury of visitors, which originated in connection with violation of zoo rules.</p>
</div>